.slider {
  -webkit-appearance: none;
  width: 350px;
  height: 20px;
  background: white;
  outline: none;
  opacity: 1;
  border-color: white;
  border-width: 5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  
  height: 15px;

  background-color: #000;
  
  border-radius: 0;
 
  cursor: pointer;
  
}

.slider::-moz-range-thumb {
  width: 20px;
 
  height: 20px;
  
  background-color: #000;
  
  border-radius: 0;
  
  cursor: pointer;
 
}