@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle {
  border: 7px solid #ffffff;
  display: inline-block;
  width: 72px;
  /* ширина */
  height: 32px;
  /* высота */
  background: #ffffff;
  /* цвет фона */
  padding: 0;
  cursor: pointer;
  position: relative;
  transition-duration: 0.3s;
  /* анимация */
  margin-bottom: 30px;
}

.knob {
  height: 20px;
  /* высота кнопки */
  width: 20px;
  /* ширина кнопки */
  background: #000;
  /* цвет кнопки */
  transition-duration: 0.3s;
  /* анимация */
  position: absolute;
}
