.checkbox-container {
    display: flex;
    align-items: center;
  }
  
  .checkbox-input {
    display: none;
    /* Скрыть сам чекбокс */
  }
  
  .checkbox-custom {
    width: 350px;
    /* Размер квадрата чекбокса */
    height: 30px;
    border: 2px solid #fff;
    /* Белая обводка */
    background-color: #000;
    /* Черный цвет фона для отключенного состояния */
    cursor: pointer;
    display: inline-block;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .checkbox-custom::after {
    content: 'off';
    /* Белый текст OFF внутри квадрата */
    font-size: 12px;
    font-weight: bold;
    font-family: 'Press Start 2P';
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    /* По умолчанию отображается */
  }
  
  .checkbox-input:checked + .checkbox-custom {
    background-color: #fff;
    /* Белый фон для включенного состояния */
  }
  
  .checkbox-input:checked + .checkbox-custom::after {
    content: 'on';
    /* Черный крестик вместо текста OFF */
    color: #000;
    /* Черный цвет для крестика */
    opacity: 1;
  }
  